@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    *@
    <h1 class="dosplay-4" > Session Mgmt - Viewbag/ViewData/TempData  </h1>
    <h3>@ViewBag.Message</h3>
    <h3> ViewData:  @ViewData ["MovieInfo"] </h3>
    <h3> tempData:  @TempData ["CustInfo"] </h3>

</div>
