@model Movie



<div class="col-sm-3">
	<div class="card-deck">
		<div class="card-shadow">
			<div class="card-body">
				<h4 class="card-title">
					@Model.Name
				</h4>
				<p class="card-text">
					@Model.MovieStar
					@Model.Rating
					@Model.CategoryId

				</p>
			</div>
		</div>
	</div>
</div>